*.pyc
profile.prof
distutlis.cmds
dist/
htmlcov
/.project
.idea/pyfJmod.iml
plot*.p*
build/
fJmodel/projection_cy.c
fJmodel/projection_cy.o
projection_cy.so
chi_vs.p*
line_profile.p*
profiling_test.p*
