language: python
# only versions 2.7 and 3.2 support virtualenv
python:
  - "2.7"
#  - "3.2"
# command to import packages from the global site packages directory
virtualenv:
  system_site_packages: true
# use apt-get
before_install:
 - sudo apt-get install -qq python-scipy python-matplotlib
# command to install dependencies
install:
  - "pip install ."
  - "pip install -r requirements.txt"
  - "pip install coverage"
  - "pip install coveralls"
# command to run tests
script: coverage run tests.py
# after success run coverage tool
after_success:
  - coveralls